@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles dari HTML asli */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fdf7e3; /* cream-parchment */
}
::-webkit-scrollbar-thumb {
  background: #b8860b; /* primary */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a37209;
}

.image-sensory-filter {
  filter: saturate(1.2) contrast(1.1) brightness(1.05);
}
